



@media screen and (max-width: 750px) {

body{

    background-color: blue;
}


    .carousel-item > img{
      width: 100%;

    }
    h1{
     font-size: 1.5em;

    }

    .navbar-collapse {
      -ms-flex-preferred-size: 50%;
      flex-basis: 100%;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -ms-flex-align: center;
      align-items: center;
  }
}

@media screen and (max-width: 600px) {
    body {
  /*    background-color: olive;*/

    }
    .carousel-item{
       margin: 1.5em;

    }
}

@media screen and (max-width: 400px) {
  body {
   background-color: grey;
    color: white;
  }
  .carousel-item{
     height:325px;
     width: 325px;

  }


  .carousel-caption h1{
  text-indent:-999px;
  text-shadow: transparent;
  color: transparent;
  text-decoration: none;

  }

 .carousel-control-prev {
    left: 1em;
  }

  .text-muted a{
    text-decoration: none;
    font-size: 20px;

  }
}


