/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body{

	background: orange;
}



main > .container {
  padding: 20px 5px 0;
}




.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.logo{

   width: 5%;

}
